@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    background-color: rgb(31, 30, 30);
    font-family: 'Roboto', sans-serif;
}

form {
    width: 30rem;
    margin: 3rem auto;
    background-color: rgb(255, 255, 255);
    padding: 1rem;
    border-radius: 6px;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input, 
textarea,
select {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
    box-sizing: border-box;
    font:inherit;
    border: 2px solid rgb(193, 186, 186);
    border-radius: 6px;
    padding: 0.25rem;
    color: rgb(188, 92, 92);
}

input:focus,
textarea:focus {
    background-color: rgb(229, 188, 188);
    color: rgb(232, 55, 55);
    border-color: rgb(232, 55, 55);
}

.form-control-inline {
    display: flex;
}

.form-control-inline input {
    width: auto;
    margin-right: 0.5rem;
}

button {
    display: block;
    font: inherit;
    background-color: rgb(232, 55, 55);
    color: white;
    padding: 0.5rem 1.5rem;
    border: 2px solid rgb(232, 55, 55);
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(237, 96, 96);
    border-color: rgb(237, 96, 96);
}



